.nav-cont{
    display: flex;
    min-width: fit-content;
    padding: 0px;
    margin: 0px;
    height: 70px;
    background-color: rgb(53, 61, 87);
}

.nav-link{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
    height: fit-content;
    border-radius: 20px;
    transition: .5s;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
}

.nav-link:hover {
    color: white;
    border-color: rgb(255, 255, 255);
}