.aboutme-body{
    min-height: 90vh;
    background: rgb(0,212,255);
    background: linear-gradient(0deg, rgb(0, 218, 73) 5%, rgba(53,61,87,1) 100%);
}

.aboutme-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}